
*{
    margin: 0;
    
}

header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    height: 70px;
    position: relative;
  

}

header > #purple > p
{
    position: absolute;
    background-color: blue;
    width: 140px;
    height: 30px;
    padding: 20px;
   
    
}

header > #purple > img
{   
    position: absolute;
    height: 60px;
    margin-left: 120px;
    margin-top: 10px;
}


header > ul 
{   
    position: absolute;
    margin-left: 200px;
    margin-top: 20px;
    list-style: none;
    
}
header > ul > li
{   
    display: inline;
    padding: 50px;
    

}
header > #cart
{
    position: absolute;
    right: 0px;
    margin-right: 15px;
    font-size: 20px;
    color: white;
    
}


body{
   
    font-family: "Karma", sans-serif;
    background-image: url('./images/bak.jpg');
    background-repeat: no-repeat;
    background-size: 3000px;
 
   
}
.button
{
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    border-radius: 2em;
    margin-top: 80px;
  
}
.button:hover
{
    background-color: gray;
    cursor: pointer;
}
.button2
{
    background-color:black;
    color: white; 
    position:absolute; 
    top: 2000px; 
    width: 150px;
    height: 80px;
    font-size: 30px;
    border-radius: .5em;
}
.button2:hover
{
    background-color: gray;
    cursor: pointer;
}

#center
{
    margin-left: 800px;
    margin-top: 280px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content
{
    position: relative;
    isolation: isolate;
    height: 550px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
   
    --betta-image:url(./images/bettagif.gif);
    --betta-image-opacity: .9;
  

}

.content::after
{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;

    opacity: var(--betta-image-opacity);
    background-image: var(--betta-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .5em;
   
    
}


section
{
    position: relative;
    background-color: rgba(255,255,255, .7);
    

}
section > h1
{
    font-size: 30px;
    left: 40px;
    position: absolute;
}
section > p
{
    position: absolute;
    font-size: 23px;
    top: 260px;
    left: 120px;
    
    
}

#label
{
    position: absolute;
    top: 330px;
    left: 20px;
    font-size: 20px;
}
section > img
{
    position: absolute;
    height: 100px;
    width: 150px;
    bottom: 200px;
    right: 70px;
}
.item{
  
    height: 330px;
    width: 200px;
    border-radius: .5em;
    padding: 3em;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 10px 20px #888888
    
 
    
}
.box
{
    text-align: center;
}
main 
{

    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: rgba(255, 255, 255, .3);
    box-shadow: 0, 0px 15px (0, 5, 0, .5);
    border-radius: 2em;
 
 
    
}
h2
{
    text-align: center;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: .2em;
    width: 1500px;
    height: 50px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
